{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static '/plugins/bootstrap-5.3.0-alpha2/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free-6.6.0-web/css/fontawesome.css' %}"
          type="text/css">
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free-6.6.0-web/css/brands.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free-6.6.0-web/css/solid.css' %}" type="text/css">
    <style>
        body {
            background-image: url("{% static '/img/background.jpg' %}");
            background-size: cover;
            background-position: center;
        }

        .container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin: 100px auto;
            max-width: 400px;
            background-color: #f9f9f9;
            opacity: 0.7;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center" style="margin-bottom: 20px;">用户登录</h4>
            <hr>
            <form method="post" action="/index/">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="用户名" name="username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-key fa-fw"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="密码" name="password">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
                <div class="toast-body" style="color: red;">
                    {{ error_msg }}
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static '/plugins/bootstrap-5.3.0-alpha2/js/bootstrap.bundle.js' %}"></script>
</body>
</html>